<section class="data-viz-section">
    <div id="data-viz" class="data-viz-container">
        <!-- Map -->
    <!--    <div id="map-container" class="viz-item">
            <h3>Interactive Map</h3>
            <iframe id="map" src="" frameborder="0" style="width: 100%; height: 350px;"></iframe>
        </div>
    -->    
        
        <div id="pie-chart-container" class="viz-item">
            <div id="pie-charts"> 
                <div id="pie-chart"></div> 
                <div id="pie-chart-location"></div>
            </div> 
        </div>
    </div>

    <!-- Scrollable List for "Other" Sources— Sources will be dynamically listed here -->
   <!--  <div id="other-sources-container" style="width: 100%; height: 150px; overflow-y: auto; margin-top: 20px; border: 1px solid #ddd;">
    </div> -->
</section>