<header class="sticky-header">
    <div class="header-content">
        <div class="header-left">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <span class="header-title">Coastal Risk Perception Analysis</span>
        </div>
        <div class="header-right">
            <a href="/launch-pipeline" class="header-button">Get new documents</a>
            <a href="/" class="header-button">Explore Documents</a>
        </div>
    </div>
</header>
