body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search Button */
.search-button-row{
    display: flex;
    justify-content: end;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.reset-button {
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
}

.reset-button:hover {
    background-color: #c0c0c0;
}

section {
    width: 100%;
    max-width: 1200px;
    min-height: 100px;
    background-color: #ffffff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    flex: 1;
}

.search-bar.small {
    flex: 1;
}

.search-bar.large {
    flex: 2;
}

#pie-charts{
    display: flex;
    position: relative;
    width: 870px;
    overflow: scroll;
    border: dashed;
    border-radius: 8px;
}

#pie-chart, #pie-chart-location{
    width: 500px;

}


/* Document Table Section */

.document-table thead{
    position: sticky;
    top: 0px;
}

.document-table {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 700px;
    background-image: linear-gradient(to top, white, white),
    linear-gradient(to top, white, white),
    linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
    background-position: bottom center, top center, bottom center, top center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
    background-attachment: local, local, scroll, scroll;

}

.document-table table {
    width: 100%;
    border-collapse: collapse;
}

.document-table th, .document-table td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.document-table th {
    background-color: #d0dbee;
    color: #333;
    font-weight: 600;
}
.document-table th:last-child {
    border-top-right-radius: 6px;
}
.document-table th:first-child {
    border-top-left-radius: 6px;
}
.document-table tbody{
    border-radius: 6px;
}
.document-table td {
    color: #555;
}
td.freq_words{
    max-width: 300px;
}
td.source_title{
    max-width: 440px;
}

table tr.clickable-row td{cursor: pointer;}

table tr.clickable-row {
    cursor: pointer;
    transition: background-color 0.2s;
}

table tr.clickable-row:hover {
    background-color: #f0f0f0; /* Change background on hover */
}


.tagged-green{background-color: #e8fbe8;}
.tagged-red{background-color: #fde8e8;}


@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .row {
        flex-direction: column;
    }

    .search-bar {
        flex: none;
        width: 100%;
    }

    .document-section {
        margin: 10px;
    }}
  