
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Explorer</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    
    <!-- Sticky Top Header -->
    <header class="sticky-header">
        <div class="header-content">
            <div class="header-left">
                <img src="logo.png" alt="Logo" class="logo">
                <span class="header-title">Coastal Risk Perception Analysis</span>
            </div>
            <div class="header-right">
                <a href="/launch-pipeline" class="header-button">Get new documents</a>
                <a href="/" class="header-button">Explore Documents</a>
            </div>
        </div>
    </header>
    <main>
        <!-- Top Search Bar Section -->
        <section class="search-bar-section">
            <input type="text" placeholder="Search documents.." class="search-bar">
            <button class="search-button">Search</button>
        </section>

        <!-- Data Visualization Section -->
        <section class="data-viz-section">
            <div id="data-viz">
                <!-- Chart will go here -->
                data visualisation section
            </div>
        </section>

        <!-- Scrollable Document Table Section -->
        <section class="document-section">
            <div class="document-table">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Source</th>
                            <th>Research keyword</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doc in documents %}
                        
                        <tr class="clickable-row" data-url="{{ url_for('document', doc_id=doc['_id']) }}">

                            <td>{{ doc['Title_updated'] }}</td>
                            <td>{{ doc['domain'] }}</td>
                            <td>{{ doc['keyword'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const rows = document.querySelectorAll('.clickable-row');
        rows.forEach(row => {
            row.addEventListener('click', function() {
                const url = row.getAttribute('data-url');
                window.location = url;
            });
        });
    });
</script>
</html>
