
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Explorer</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/header.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Include Plotly -->
    <script src="{{ url_for('static', filename='data_viz.js') }}" defer></script> <!-- Link to data_viz.js -->
    <script src="{{ url_for('static', filename='data_viz_location.js') }}" defer></script>
</head>
<body>
    {% include "includes/header.html" %}
    <main>
        <section class="search-bar-section">
            <!-- Première ligne -->
            <div class="row">
                <!-- Liste déroulante pour les mots de recherche -->
                <select class="search-bar small">
                    <option value="" disabled selected>Choisir un mot d'analyse</option>
                    <script>
                        const vocabularyPath = "path/to/vocabulary.csv";
                        const researchWords = functions.text_processing.extract_columns_to_list(vocabularyPath, "Vocabulaire de recherche");
                        analysisWords.forEach(word => {
                            document.write(`<option value="${word}">${word}</option>`);
                        });
                    </script>
                </select>
                  
                <!-- Liste déroulante pour les mots d'analyse-->
                <select class="search-bar small">
                    <option value="" disabled selected>Choisir un mot d'analyse</option>
                    <script>
                        const analysisWords = functions.text_processing.extract_columns_to_list(vocabularyPath, "analysis_words");
                        analysisWords.forEach(word => {
                            document.write(`<option value="${word}">${word}</option>`);
                        });
                    </script>
                </select>                

                <!-- Liste déroulante pour les localisations -->
                <select class="search-bar small">
                    <option value="" disabled selected>Choisir une localisation</option>
                    <script>
                        const locations = functions.text_processing.extract_columns_to_list(vocabularyPath, "Localisation de recherche");
                        locations.forEach(location => {
                            document.write(`<option value="${location}">${location}</option>`);
                        });
                    </script>
                </select>                
            </div>
            <!-- Deuxième ligne -->
            <div class="row">
                <!-- Liste déroulante pour les mots de recherche -->
                <select class="search-bar small">
                    <option value="" disabled selected>Choisir un mot d'analyse</option>
                    <script>
                        const researchWords_2 = functions.text_processing.extract_columns_to_list(vocabularyPath, "Vocabulaire de recherche");
                        analysisWords.forEach(word => {
                            document.write(`<option value="${word}">${word}</option>`);
                        });
                    </script>
                </select>
                  
                <!-- Liste déroulante pour les mots d'analyse-->
                <select class="search-bar small">
                    <option value="" disabled selected>Choisir un mot d'analyse</option>
                    <script>
                        const analysisWords_2 = functions.text_processing.extract_columns_to_list(vocabularyPath, "analysis_words");
                        analysisWords.forEach(word => {
                            document.write(`<option value="${word}">${word}</option>`);
                        });
                    </script>
                </select>   
                
            </div>
            <!-- Troisième ligne -->
            <div class="row">
                <input type="text" placeholder="Recherche par titre" class="search-bar large">
            </div>
            <!-- Quatrième ligne -->
            <div class="search-button-row">
                <button class="search-button" onclick="updateTable()">Rechercher</button>
                <button class="reset-button">Réinitialiser</button>
            </div>
        </section>

        <!-- Data Visualization Section -->
        {% include 'includes/data-viz.html' %}

        <!-- Scrollable Document Table Section -->
        <section class="document-section">
            <div class="document-table">
                <table>
                    <thead>
                        <tr>
                            <th>Tag</th>
                            <th>Pertinence</th>
                            <th>Frequent words</th>
                            <th>Location</th>
                            <th>Keyword</th>
                            <th>Source & Title</th>
                        </tr>
                    </thead>
                    {% include 'includes/table.html' %}
                </table>
            </div>
        </section>
    </main>
</body>
<script>
    async function updateTable() {

        // Récupérer les valeurs des champs de recherche
        const title = document.querySelector('.row:nth-of-type(3) input[type="text"]').value;

        const analysis1 = document.querySelector('.row:nth-of-type(1) select:nth-of-type(1)').value;
        const analysis2 = document.querySelector('.row:nth-of-type(1) select:nth-of-type(2)').value;
        const location1 = document.querySelector('.row:nth-of-type(1) select:nth-of-type(3)').value;

        const analysis3 = document.querySelector('.row:nth-of-type(2) select:nth-of-type(1)').value;
        const analysis4 = document.querySelector('.row:nth-of-type(2) select:nth-of-type(2)').value;

        try {
            const response = await fetch('/search-table', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ title, analysis1, analysis2, location1, analysis3, analysis4 })
            });
    
            if (!response.ok) {
                throw new Error('Erreur lors de la récupération des documents.');
            }
    
            const html = await response.text();
            document.querySelector('.document-section tbody').innerHTML = html;    
            attachRowClickEvents(); // Reattach click events to the new rows
        } catch (error) {
            console.error('Erreur:', error);
            alert('Une erreur est survenue lors de la recherche des documents.');
        }
    }

    // Fonction pour attacher l'événement de clic aux lignes du tableau
    function attachRowClickEvents() {
        const rows = document.querySelectorAll('.clickable-row');
        rows.forEach(row => {
            row.addEventListener('click', function () {
                const url = row.getAttribute('data-url');
                window.location = url;
            });
        });
    }
    // Gestion du bouton de réinitialisation
    document.querySelector('.reset-button').addEventListener('click', function () {
        // Réinitialiser tous les champs de recherche
        document.querySelectorAll('.search-bar').forEach(field => {
            if (field.tagName === 'SELECT') {
                field.selectedIndex = 0; // Réinitialiser les listes déroulantes
            } else {
                field.value = ''; // Réinitialiser les champs de texte
            }
        });
        updateTable();//trigger an empty search to reload the table without filters
    });

    document.addEventListener('DOMContentLoaded', function () {
        updateTable(); // This can be left as is, or handled as per your current page logic
        attachRowClickEvents(); // Appeler cette fonction au chargement initial pour gérer les documents existants
    });

</script>

</html>
